<div class="container">
  <div class="row">
        <p id="notice"></p>
      <div class='mx-auto'>
        <!--<div class="card" style="max-width: 500px;">-->
          <%#= image_tag "leavelogo.jpg" %>
          <!--<div class="card-img-overlay">-->
            <p class="text-center text-black">
              </br></br>
              ようこそ、LEAVEへ！</br>
              このサイトは、キャンプの記録用サイトになります。</br>
            　ひっそりと記録を残したい人にピッタリ！</br>
            　また、みんなに発信したい人は公開してあげてください。</br>
            　楽しいキャンピングライフをお過ごしください。</br>
            </p>
          </div>
        </div>
    </div>
  </div>
</div>