<div class="container">
  <div class="row">
        <p id="notice"></p>
      <div class='mx-auto'>
        <div class="card" style="max-width: 500px;">
          <%= image_tag "leavelogo.jpg" %>
          <div class="card-img-overlay">
            <p class="text-center text-black">
              </br></br></br>
              ようこそ、ながのCAKEへ！</br>
              このサイトは、ケーキ販売のECサイトになります。</br>
              会員でない方も商品の閲覧ができますが、</br>
              購入には会員登録が必要になります。
            </p>
          </div>
        </div>
    </div>
  </div>
</div>