<div class='container'>
<div class='row'>
<div class='mx-auto'>
  
  キャンプ場検索
  <%= render 'search', posts: @posts %></br>

  <h2><i class="fab fa-campfire"></i>キャンプ場記録</h2>
  
  <% @posts.each do |post| %>
  
    <span>キャンプ場</span></br>
    
    <% if post.image.attached? %>
      <%= image_tag post.image, size: "200x200" %>
    <% else %>
      <%= image_tag 'no_image', size: "200x200" %>
    <% end %>
    
    </br>
    <%= link_to post.place, post_path(post.id)%></br></br>

  <% end %>

</div>
</div>
</div>
